.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;
    font-size:20px;
}
.dark-2{
    color: #474747;
}
nav>ul{
    display: flex;
    align-items: center;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-left: 25px;
    background-color: #FFF8F3;
    border: none;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700px;
    font: Open Sans;
    cursor: pointer;
}
/* banner design */
.banner{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 38px;
}
.banner-greetings{
    color: #474747;
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight: 800px;
    font-size: 85px;
    color: #181818;
}
.banner-description{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-content{
    max-width: 580px;
}
.zero{
    margin-right: 30px;
}
/* about styles */
.about-heading{
    font-size: 35px;
    font-weight: 800px;
}
.about-description{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
}
main{
    max-width: 1140px;
    margin: 135px auto;
    /* margin-top: 135px; */
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    font-weight: 400px;
    color:#757575 ;
}
.second-bg{
    background-color: #FFF8F3;
}

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* margin: 130px 230px; */
    padding: 130px 150px;
    text-align: center;
    
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin: 0 30px;
}
.about-item{
    font-size: 20px;
    font-weight: 400px;
    color: #757575;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    margin-right: 20px;
}
.last{
    border: 1px solid black;
    background-color: #FFFFFF;
}
/* section skill-container */
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
}
main section{
    margin-top: 70px;
}
/* resume section styles */
.resume{
    display: flex;
    gap: 70px;
    text-align: justify ;
}
.resume-main-heading{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-top: 100px;
}
.resume-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-main-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.resume-timeline{
    font-weight: 600px;
    font-size: 20px;
    color: #757575;
    margin-bottom: 2%;

}
.resume-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.and{
    display:block;
    margin: 50px auto 110px auto;
}

/* footer menu styles */

.footer-menu{
    display: flex;
    background-color: #FFF8F3;
    padding: 110px 110px 130px 200px;
    gap: 100px;
}
.footer-column2{
    display: flex;
    flex-direction: column;
    /* width: auto; */
}
.textbox{
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom:20PX;
    border: none;
}
.footer-msg{
    border: none;
    border-radius: 5px;
    height: 140px;
    width: 450px;
    padding: 15px 20px;
    margin-bottom: 25px;
    font-family: Open Sans;
}
.ok{
    height: 60px;
    width: 150px;
}
.social-icons{
    display: flex;
    gap: 30px;
}